---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jacob Friis Strand | Front-end developer & designer">
	<main>
<Hero/>
	</main>
</Layout>

<style>
	
