<section id="about" class="about full-bleed">
    <div class="about-wrapper">
        <div class="about-content">
            <h2 class="about-header"></h2>
            <article class="about-text">
            </article>
        </div>
        <img class="about-image" src="" alt="">
    </div>
</section>

<style>
    .about-wrapper {
        display: grid;
        grid-template-columns: var(--grid-column-responsive);
        gap: var(--space-xl);
        place-items: center;
        padding-top: var(--space-xl);
    }


</style>

<script>
export async function aboutData() {
  const options = {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Authorization: "08ea7024221413272431b8c2343512",
    },
    body: JSON.stringify({
      query:     `query MyQuery {
  aboutMe {
    aboutText
    aboutTitle
    aboutImage {
      url
      alt
    }
  }
}`,
    }),
  };

 try {
    const res = await fetch("https://graphql.datocms.com/", options);
    const data = await res.json();
    return data; // Return the data
  } catch (error) {
    console.error("Error fetching data:", error);
    throw error;
  }
}

// Call getHeroData and then showData when the data is available
aboutData()
  .then((data) => {
    showAboutData(data);
    // console.log(data);
  })
  .catch((error) => {
    // Handle errors here
  });

function showAboutData(data) {
const aboutHeader = document.querySelector(".about-header");
const aboutText = document.querySelector(".about-text");
const aboutImage = document.querySelector(".about-image");
aboutHeader.textContent=data.data.aboutMe.aboutTitle;
aboutText.innerHTML=data.data.aboutMe.aboutText;
aboutImage.src = data.data.aboutMe.aboutImage.url;
aboutImage.alt = data.data.aboutMe.aboutImage.alt;
}

import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger);


gsap.matchMedia().add("(prefers-reduced-motion: no-preference)", () => {
  gsap.to('.about', {
    backgroundColor: "var(--dark-900)",
    color: "var(--light-900)",
    opacity: 1,
    duration: 5,
    scrollTrigger: {
      trigger: ".about", // Start at 50% of the .about element
      end: "+=70%", // End halfway through the .about element
      scrub: true,
      // markers: true,
    },
  });
});

</script>