<section id="contact">
        <h2 class="h2">Contact</h2>
        <p>If you think we might be a match, do not hesitate to contact me.</p>
        <h5>Drop me an email</h5>
        <a href="mailto:jacob@friis.com">jacob@friis.com</a>
        <h5>Text or give me a call</h5>
        <a href="tel:+4560171513">+45 6017 1513</a>
        <a target="_blank" href="https://www.linkedin.com/in/jacob-friis-strand/">Lets connect on LinkedIn</a>
        <a target="_blank" href="https://github.com/jacobfriisstrand">Peep my GitHub</a>
      </section>

      <style>
        #contact {
            display: flex;
            flex-direction: column;
            border-top: 2px solid black;
            padding-top: var(--space-xl);
        }


        a {
            margin-bottom: var(--space-m);
        }
      </style>