---
import "../../public/styles/style.css"

---

<div class="hero full-bleed">
      <div class="hero-wrapper">
        <div class="text">
            <h1></h1>
            <p></p>
        </div>
        <img class="hero-image" src="" alt="">
      </div>
</div>

<script>
  export async function heroData() {
  const options = {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Authorization: "08ea7024221413272431b8c2343512",
    },
    body: JSON.stringify({
      query: `query MyQuery {
  hero {
    heroText
    heroImage {
      alt
      url
    }
    heroHeading
  }
}
`,
    }),
  };

 try {
    const res = await fetch("https://graphql.datocms.com/", options);
    const data = await res.json();
    return data; // Return the data
  } catch (error) {
    console.error("Error fetching data:", error);
    throw error;
  }
}

// Call getHeroData and then showData when the data is available
heroData()
  .then((data) => {
    showHeroData(data);
  })
  .catch((error) => {
    // Handle errors here
  });

function showHeroData(data) {
const heroHeader = document.querySelector("h1");
const heroText = document.querySelector("p");
const heroImage = document.querySelector(".hero-image");

heroHeader.textContent = data.data.hero.heroHeading;
heroText.innerHTML = data.data.hero.heroText;
heroImage.src = data.data.hero.heroImage.url;
heroImage.alt = data.data.hero.heroImage.alt;
}

import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger);


gsap.matchMedia().add("(prefers-reduced-motion: no-preference)", () => {
  gsap.from(".text h1", {
    x: -500,
    opacity: 0,
    duration: 1,
    ease: "power4.out",
  });

  gsap.from(".text p", {
    x: 100,
    opacity: 0,
    duration: 4,
    scrollTrigger: {
      trigger: ".hero-wrapper",
      start: "-110px",
      end: "-110px",
      scrub: true,
    },
  });
});





</script>

<style>

  h1 {
    margin-block: var(--space-l);
  }
    .hero {
        background-color: black;
        color: var(--light-900);
        /* min-height: 100dvh; */
        padding-top: 7rem;
        overflow: hidden;
    }

    .hero-wrapper img {
        -webkit-mask: linear-gradient(90deg, white 50%, transparent);
        mask: linear-gradient(90deg, white 50%, transparent);
        object-fit: contain;
        max-height: 90dvh;
        min-width: 0;
    }

    .hero-wrapper {
     display: grid;
  
        grid-template-columns: var(--grid-column-responsive);
        gap: var(--space-3xl);
        align-items: center;
    }
</style>